{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <style>
        @keyframes progressBarAnimation {
            from {
                width: 0%;
            }
            to {
                width: var(--progress-width);
            }
        }

        .progress-bar {
            animation: progressBarAnimation 2s ease-out forwards; /* Adjust duration and easing according to your preference */
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
{% endblock %}

{% block body %}
    {{ include('_nav.html.twig') }}
    <div x-data="{ showPopup: false }" class="min-h-screen bg-gray-900 text-white">
        <header class="py-12">
            <div class="container mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
                <div class="flex justify-center items-center">
                    <div class="text-center">
                        <h1 class="text-4xl font-bold sm:text-5xl">{{ app.session.get('username') }}!</h1>
                        <p class="mt-5 text-lg">ZenEtude estime de état de santé ❤️ à :</p>
                        <div class="mt-5">
                            {% set score = app.session.get('mental_health_score') %}
                            <span id="ProgressLabel" class="sr-only">Loading</span>
                            <span role="progressbar" aria-labelledby="ProgressLabel" aria-valuenow="100" class="block rounded-full bg-gray-300 shadow-md">
                                <span class="progress-bar block h-6 rounded-full bg-purple-700 text-center py-1 text-xs font-bold" style="--progress-width:{{ score }}%; width: 0%;" x-ref="progress" x-init="$refs.progress.style.width = '{{ score }}%'">
                                    <span class="text-white">{{ score }}%</span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="py-8">
            <div class="container mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
                <div class="text-center">
                    <h2 class="text-3xl font-bold mb-6 text-indigo-300">Série actuelle: <span class="text-purple-500">{{ streak }}</span></h2>
                    <div class="flex justify-center items-center space-x-4">
                        {% set current_day = "now"|date("D") %}
                        {% set today = "now"|date("d-m-Y") %}
                        {% set lastCompletionDate = app.session.get("last_completion_date") %}
                        {% if lastCompletionDate is not null %}
                            {% set lastCompletionFormatted = lastCompletionDate|date("d-m-Y") %}
                            {% set disableButton = formSubmitted or today == lastCompletionFormatted %}
                        {% else %}
                            {% set disableButton = formSubmitted %}
                        {% endif %}
                        {% set days = {'Mon': 'Lu', 'Tue': 'Ma', 'Wed': 'Me', 'Thu': 'Je', 'Fri': 'Ve', 'Sat': 'Sam', 'Sun': 'Dim'} %}
                        {% for day, label in days %}
                            <div class="bg-gray-700 hover:bg-red-500 shadow-lg rounded-full w-16 h-16 flex items-center justify-center text-sm font-semibold transition-all mx-1 {{ current_day == day ? 'bg-red-500 text-white' : 'bg-indigo-500 text-white cursor-pointer' }}">
                                {{ label }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mt-8">
                        <button @click="showPopup = true" class="rounded-lg bg-purple-700 px-10 py-4 text-xl font-semibold hover:bg-purple-800 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-opacity-75 transition-all"
                                {{ disableButton ? 'disabled style=background-color:gray;' : '' }}
                        >
                            Faire le Questionnaire Quotidien !
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Popup -->
        <div x-show="showPopup" @click.away="showPopup = false" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
            <div class="bg-gray-800 rounded-lg shadow-xl p-8 w-full max-w-lg">
                <!-- Close button -->
                <button @click="showPopup = false" class="absolute top-4 right-4 text-gray-500 hover:text-gray-200 focus:outline-none">
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
                <!-- Form -->
                {{ form_start(form, { 'attr': {'class': 'w-full', 'name': 'complete_daily_form'} }) }}
                {% for field in form %}
                    {{ form_row(field, { 'attr': {'class': 'bg-purple-600 p-4 rounded-lg'} }) }}
                {% endfor %}
                <button type="submit" {{ disableButton ? 'disabled style=background-color:gray;' : '' }} class="mt-4 rounded-lg bg-purple-700 px-10 py-4 text-white hover:bg-purple-800">Soumettre</button>
                {{ form_end(form) }}
            </div>
        </div>

        {{ include('_footer.html.twig') }}
    </div>

{% endblock %}
