{% extends 'base.html.twig' %}
{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
{% endblock %}

{% block body %}
    {{ include('_nav.html.twig') }}
    <div x-data="{ showPopup: false }" class="min-h-screen bg-gray-800 text-white"> <!-- Dark gray background -->

        <header class="py-12">
            <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
                <div class="flex justify-center items-center">
                    <div class="text-center">
                        <h1 class="text-2xl font-bold sm:text-3xl">{{ app.session.get('username') }}!</h1>
                        <p class="mt-5">ZenEtude estime de état de santé ❤️ à :</p>
                        <div class="mt-5">
                            {% set score = app.session.get('mental_health_score') %}
                            <span id="ProgressLabel" class="sr-only">Loading</span>

                            <span
                                    role="progressbar"
                                    aria-labelledby="ProgressLabel"
                                    aria-valuenow="100"
                                    class="block rounded-full bg-gray-200">

                                <span class="block h-4 rounded-full bg-indigo-600 text-center text-[10px]/4" style="width: {{ score }}%">
                                    <span class="font-bold text-white"> {{ score }}% </span>
                                </span>
                            </span>

                        </div>

                    </div>
                </div>
            </div>
        </header>

        <div class="py-8">
            <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
                <div class="text-center">
                    <h2 class="text-2xl font-bold mb-6">Série actuelle: <span class="text-indigo-500">{{ streak  }}</span></h2>
                    <div class="flex justify-center items-center space-x-4">
                        {% set current_day = "now"|date("D") %}
                        {% set today = "now"|date("d-m-Y") %}
                        {% set lastCompletionDate = app.session.get("last_completion_date") %}
                        {% if lastCompletionDate is not null %}
                            {% set lastCompletionFormatted = lastCompletionDate|date("d-m-Y") %}
                            {% set disableButton = formSubmitted or today == lastCompletionFormatted %}
                        {% else %}
                            {% set disableButton = formSubmitted %}
                        {% endif %}
                        {% set days = {'Mon': 'Lu', 'Tue': 'Ma', 'Wed': 'Me', 'Thu': 'Je', 'Fri': 'Ve', 'Sat': 'Sam', 'Sun': 'Dim'} %}
                        {% for day, label in days %}
                            <div class="bg-gray-700 hover:bg-red-500 rounded-full w-12 h-12 flex items-center justify-center text-sm font-medium transition-all mx-1 {{ current_day == day ? 'bg-red-500 text-white' : 'bg-indigo-500 text-white cursor-pointer' }}">
                                {{ label }}
                            </div>
                        {% endfor %}
                        </div>
                    <div class="mt-8">
                        <button @click="showPopup = true" class="rounded-lg bg-indigo-600 px-8 py-3 text-lg font-medium hover:bg-indigo-700 focus:outline-none focus:ring transition-all"
                                {{ disableButton ? 'disabled style=background-color:gray;' : '' }}
                        >
                            Faire le Questionnaire Quotidien !
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Popup -->
        <div x-show="showPopup" @click.away="showPopup = false" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
            <div class="bg-gray-800 rounded-lg p-8 w-[500px] h-[300px]">
                <!-- Close button -->
                <button @click="showPopup = false" class="absolute top-4 right-4 text-gray-500 hover:text-gray-700 focus:outline-none">
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
                <!-- Form -->
                {{ form_start(form, { 'attr': {'class': 'w-80', 'name': 'complete_daily_form'} }) }}
                {{ form_row(form.question1, { 'attr': {'class': 'bg-indigo-600'} }) }}
                {{ form_row(form.question2, { 'attr': {'class': 'bg-indigo-600'} }) }}
                {{ form_row(form.question3, { 'attr': {'class': 'bg-indigo-600'} }) }}
                {{ form_row(form.question4, { 'attr': {'class': 'bg-indigo-600'} }) }}
                {{ form_row(form.question5, { 'attr': {'class': 'bg-indigo-600'} }) }}
                {{ form_row(form.question6, { 'attr': {'class': 'bg-indigo-600'} }) }}
                {{ form_row(form.question7, { 'attr': {'class': 'bg-indigo-600'} }) }}
                {{ form_row(form.question8, { 'attr': {'class': 'bg-indigo-600'} }) }}

                <button type="submit"  {{ disableButton ? 'disabled style=background-color:gray;' : '' }} class="mt-4 rounded-lg bg-indigo-600 px-8 py-3 text-white hover:bg-indigo-700">Soumettre</button>
                {{ form_end(form) }}
            </div>
        </div>

        {{ include('_footer.html.twig') }}
    </div>

{% endblock %}
