{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}

    {{ include('_nav.html.twig') }}

    <header class="bg-gray-50">
        <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
            <div class="sm:flex sm:items-center sm:justify-between">
                <div class="text-center sm:text-left">
                    <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Bon
                        retour, {{ app.session.get('username') }}!</h1>

                    <p class="mt-1.5 text-sm text-gray-500">Tu as fais ton daily aujourd'hui ? 🎉</p>
                </div>

                <div class="mt-4 flex flex-col gap-4 sm:mt-0 sm:flex-row sm:items-center">

                    <a
                            class="block rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring"
                            href="{{ path('app_daily') }}"
                    >
                        Faire son daily
                    </a>
                </div>
            </div>
        </div>
    </header>

    <section class="bg-gray-900 text-white">
        <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
            <div class="mx-auto max-w-lg text-center">
                <h2 class="text-3xl font-bold sm:text-4xl">Dashboard</h2>

                <div class="flex items-center gap-4 mt-5">
                    <img
                            src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?q=80&w=2680&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt=""
                            class="size-20 rounded-lg object-cover"
                    />

                    <div>

                        <p class="mt-0.5 text-white-700">
                            ZenEtude estime de état de santé à :
                        </p>

                        <div class="mt-5">
                            {% set score = app.session.get('mental_health_score') %}
                            <span id="ProgressLabel" class="sr-only">Loading</span>

                            <span
                                    role="progressbar"
                                    aria-labelledby="ProgressLabel"
                                    aria-valuenow="100"
                                    class="block rounded-full bg-gray-200"
                            >
                                <span class="block h-4 rounded-full bg-indigo-600 text-center text-[10px]/4" style="width: {{ score }}%">
                                    <span class="font-bold text-white"> {{ score }}% </span>
                                </span>
                            </span>

                        </div>

                    </div>
                </div>

            </div>

            <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
                <a
                        class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
                        href="{{ path('app_daily') }}"
                >
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="size-10 text-pink-500"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                    >
                        <path d="M12 14l9-5-9-5-9 5 9 5z"/>
                        <path
                                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
                        />
                        <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                        />
                    </svg>

                    <h2 class="mt-4 text-xl font-bold text-white">Mes daily</h2>

                    <p class="mt-1 text-sm text-gray-300">
                        Résumé des daily que tu as réalisé.
                    </p>
                </a>

                <a
                        class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
                        href="#"
                >
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="size-10 text-pink-500"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                    >
                        <path d="M12 14l9-5-9-5-9 5 9 5z"/>
                        <path
                                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
                        />
                        <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                        />
                    </svg>

                    <h2 class="mt-4 text-xl font-bold text-white">Conseils</h2>

                    <p class="mt-1 text-sm text-gray-300">
                        Retrouve une liste de conseils pouvant t'aider à réduire ton stress et ton anxiété.
                    </p>
                </a>

                <a
                        class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
                        href="#"
                >
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="size-10 text-pink-500"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                    >
                        <path d="M12 14l9-5-9-5-9 5 9 5z"/>
                        <path
                                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
                        />
                        <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                        />
                    </svg>

                    <h2 class="mt-4 text-xl font-bold text-white">Digital campaigns</h2>

                    <p class="mt-1 text-sm text-gray-300">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut quo possimus adipisci
                        distinctio alias voluptatum blanditiis laudantium.
                    </p>
                </a>

                <a
                        class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
                        href="#"
                >
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="size-10 text-pink-500"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                    >
                        <path d="M12 14l9-5-9-5-9 5 9 5z"/>
                        <path
                                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
                        />
                        <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                        />
                    </svg>

                    <h2 class="mt-4 text-xl font-bold text-white">Digital campaigns</h2>

                    <p class="mt-1 text-sm text-gray-300">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut quo possimus adipisci
                        distinctio alias voluptatum blanditiis laudantium.
                    </p>
                </a>

                <a
                        class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
                        href="#"
                >
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="size-10 text-pink-500"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                    >
                        <path d="M12 14l9-5-9-5-9 5 9 5z"/>
                        <path
                                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
                        />
                        <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                        />
                    </svg>

                    <h2 class="mt-4 text-xl font-bold text-white">Digital campaigns</h2>

                    <p class="mt-1 text-sm text-gray-300">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut quo possimus adipisci
                        distinctio alias voluptatum blanditiis laudantium.
                    </p>
                </a>

                <a
                        class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
                        href="#"
                >
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="size-10 text-pink-500"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                    >
                        <path d="M12 14l9-5-9-5-9 5 9 5z"/>
                        <path
                                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
                        />
                        <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                        />
                    </svg>

                    <h2 class="mt-4 text-xl font-bold text-white">Digital campaigns</h2>

                    <p class="mt-1 text-sm text-gray-300">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut quo possimus adipisci
                        distinctio alias voluptatum blanditiis laudantium.
                    </p>
                </a>
            </div>

            <div class="mt-12 text-center">
                <a
                        href="#"
                        class="inline-block rounded bg-pink-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-pink-700 focus:outline-none focus:ring focus:ring-yellow-400"
                >
                    Get Started Today
                </a>
            </div>
        </div>
    </section>

    {{ include('_footer.html.twig') }}

{% endblock %}
