{% extends 'base.html.twig' %}

{% block title %}ZenEtude - Accueil{% endblock %}

{% block body %}

    {% include '_nav.html.twig' %}


    <section>
        <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
            <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
                <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full">
                    <img
                            alt=""
                            src="{{ asset('img/concept/mal_etudiant.jpg') }}"
                            class="absolute inset-0 h-full w-full object-cover"
                    />
                </div>

                <div class="lg:py-24">
                    <h2 class="text-3xl font-bold sm:text-4xl">Le Mal-être Étudiant</h2>

                    <p class="mt-4 text-gray-600">
                        Le mal-être étudiant est une réalité préoccupante, accentuée par des facteurs tels que la pression académique, les incertitudes professionnelles et les défis de l'indépendance. Le stress et l'anxiété deviennent des compagnons constants pour de nombreux étudiants, impactant leur bien-être mental, physique et émotionnel. Cette situation est souvent exacerbée par la peur de l'échec, la comparaison sociale et un environnement académique compétitif, laissant les étudiants dans un état de vulnérabilité psychologique.
                    </p>

                    <p class="mt-4 text-gray-600">

                    </p>

                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
                <div class="relative z-10 lg:py-16">
                    <div class="relative h-64 sm:h-80 lg:h-full">
                        <img
                                alt=""
                                src="{{ asset('img/concept/depression_2.jpg') }}"
                                class="absolute inset-0 h-full w-full object-cover"
                        />
                    </div>
                </div>

                <div class="relative flex items-center bg-gray-100">
        <span
                class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

                    <div class="p-8 sm:p-16 lg:p-24">
                        <h2 class="text-2xl font-bold sm:text-3xl">
                            Problèmes et Conséquences Liés à ce Mal-être
                        </h2>

                        <p class="mt-4 text-gray-600">
                            Les conséquences du mal-être étudiant sont vastes, touchant plusieurs aspects de la vie d'un individu. Elles incluent des problèmes de santé mentale comme la dépression et les troubles anxieux, des difficultés de concentration et de mémoire, ainsi qu'une baisse de la performance académique. Sur le long terme, cela peut conduire à l'isolement social, à une estime de soi diminuée, et même à des pensées suicidaires. La négligence de soi et la dégradation des relations personnelles sont également des issues fréquentes de ce mal-être.
                        </p>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <section>
        <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
            <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
                <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full">
                    <img
                            alt=""
                            src="{{ asset('img/concept/aide.jpg') }}"
                            class="absolute inset-0 h-full w-full object-cover"
                    />
                </div>

                <div class="lg:py-24">
                    <h2 class="text-3xl font-bold sm:text-4xl">Aides Possibles Hors ZenEtude</h2>

                    <p class="mt-4 text-gray-600">
                        Heureusement, des solutions existent pour combattre le mal-être étudiant en dehors du projet ZenEtude. Les services de santé mentale universitaires, les groupes de soutien entre pairs et les consultations avec des psychologues spécialisés sont des ressources précieuses. Des applications de bien-être et de méditation peuvent également offrir un soutien quotidien. En outre, s'engager dans des activités physiques régulières, adopter une alimentation équilibrée et maintenir un rythme de sommeil sain sont des pratiques bénéfiques pour la santé mentale.
                    </p>

                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
                <div class="relative z-10 lg:py-16">
                    <div class="relative h-64 sm:h-80 lg:h-full">
                        <img
                                alt=""
                                src="{{ asset('img/concept/projet.jpg') }}"
                                class="absolute inset-0 h-full w-full object-cover"
                        />
                    </div>
                </div>

                <div class="relative flex items-center bg-gray-100">
        <span
                class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

                    <div class="p-8 sm:p-16 lg:p-24">
                        <h2 class="text-2xl font-bold sm:text-3xl">
                            Notre Projet : ZenEtude
                        </h2>

                        <p class="mt-4 text-gray-600">
                            ZenEtude se présente comme une réponse innovante et bienveillante au mal-être étudiant. Notre projet vise à fournir une plateforme accessible et rassurante, offrant des outils personnalisés pour gérer le stress et l'anxiété. À travers des séances de coaching, des ateliers de gestion du stress, des ressources éducatives et une communauté de soutien, ZenEtude accompagne les étudiants dans leur quête du bien-être. Notre approche holistique considère les multiples facettes de la vie étudiante, proposant des solutions adaptées à chacun.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
            <div class="max-w-3xl">
                <h2 class="text-3xl font-bold sm:text-4xl">
                    Bénéfices de Vaincre son Mal-être
                </h2>
            </div>

            <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
                <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
                    <img
                            alt=""
                            src="{{  asset('img/concept/depression.jpg') }}"
                            class="absolute inset-0 h-full w-full object-cover"
                    />
                </div>

                <div class="lg:py-16">
                    <article class="space-y-4 text-gray-600">
                        <p>
                            Surmonter son mal-être ouvre la porte à une multitude de bénéfices, tant sur le plan personnel qu'académique. Les étudiants qui parviennent à gérer efficacement leur stress et leur anxiété témoignent d'une amélioration de leur concentration, de leur motivation et de leur performance académique. La conquête de ces défis contribue également à l'édification d'une estime de soi plus solide et à l'établissement de relations interpersonnelles plus saines. À long terme, vaincre son mal-être équipe l'individu d'outils précieux pour faire face aux défis futurs, favorisant une trajectoire de vie plus épanouie et résiliente.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>

    {% include '_footer.html.twig' %}


{% endblock %}