{% extends 'base.html.twig' %}

{% block title %}ZenEtude - Accueil{% endblock %}

{% block body %}

    {{ include('_nav.html.twig') }}

    {{ include('home/_hero.html.twig') }}

    <section>
        <div class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
                <div class="relative z-10 lg:py-16">
                    <div class="relative h-64 sm:h-80 lg:h-full">
                        <img
                                alt=""
                                src="{{ asset('img/etudiant_calme.jpg') }}"
                                class="absolute inset-0 h-full w-full object-cover"
                        />
                    </div>
                </div>

                <div class="relative flex items-center bg-gray-100">
        <span
                class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

                    <div class="p-8 sm:p-16 lg:p-24">
                        <h2 class="text-2xl font-bold sm:text-3xl">
                            La fatigue mentale
                        </h2>

                        <p class="mt-4 text-gray-600">
                            Si les étudiants s’estiment globalement en bonne santé (73 %), nombreux sont ceux qui déclarent éprouver des symptômes de mal-être. Trois quart d’entre eux se déclarent fatigués et un sur deux nerveux. 35 % des étudiants se disent déprimés et un sur quatre souffre d’isolement (graphique 14.01). La poursuite d’études supérieures peut donc être une source de tension, plus ou moins exacerbée selon les filières et les caractéristiques des étudiants.
                        </p>

                        <p class="mt-4 text-gray-600">
                            Pour répondre à ce besoin crucial de bien-être chez les étudiants, ZenEtude se positionne comme un havre de paix et un soutien indéfectible pour ceux qui recherchent de l'aide afin de mieux gérer leur santé mentale. Conscient des défis uniques auxquels les étudiants sont confrontés, notre plateforme propose une gamme étendue de ressources, allant des conseils pratiques pour mieux gérer le stress et l'anxiété, à des techniques de relaxation et de méditation, spécialement adaptées au contexte académique.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="mx-auto max-w-screen-2xl px-4 py-8 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                <div class="bg-green-600 p-8 md:p-12 lg:px-16 lg:py-24">
                    <div class="mx-auto max-w-xl text-center">
                        <h2 class="text-2xl font-bold text-white md:text-3xl">
                            Vers une Maîtrise du Stress et de l'Anxiété
                        </h2>

                        <p class="hidden text-white/90 sm:mt-4 sm:block">
                            Face au stress et à l'anxiété, il est important de se souvenir que la possibilité de surmonter ces défis est à notre portée. Notre voyage vers la gestion de ces émotions commence par des étapes simples et concrètes. Il s'agit d'abord de reconnaître nos sentiments, de les accepter sans jugement, puis de chercher des solutions pratiques, comme la respiration profonde, l'exercice physique, ou le partage de nos expériences avec des proches ou des professionnels.
                        </p>

                        <p class="hidden text-white/90 sm:mt-4 sm:block">
                            Bon courage à tous les étudiants qui travaillent à améliorer leur bien-être mental. Chaque effort compte et vous êtes plus forts que vous ne le pensez. Vous n'êtes pas seuls dans cette démarche. Ensemble, vers un avenir plus serein.
                        </p>

                        <div class="mt-4 md:mt-8">
                            <a
                                    href="{{ path('app_inscription') }}"
                                    class="inline-block rounded border border-white bg-white px-12 py-3 text-sm font-medium text-green-500 transition hover:bg-transparent hover:text-white focus:outline-none focus:ring focus:ring-yellow-400"
                            >
                                Suivre le pas de la zénitude
                            </a>
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-2 gap-4 md:grid-cols-1 lg:grid-cols-2">
                    <img
                            alt=""
                            src="https://images.unsplash.com/photo-1621274790572-7c32596bc67f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80"
                            class="h-40 w-full object-cover sm:h-56 md:h-full"
                    />

                    <img
                            alt=""
                            src="https://images.unsplash.com/photo-1567168544813-cc03465b4fa8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                            class="h-40 w-full object-cover sm:h-56 md:h-full"
                    />
                </div>
            </div>
        </div>
    </section>

    {{ include('_footer.html.twig') }}

{% endblock %}
